body{
  background-color: #f0f0f0;
}
.header{
font-size: 24px;
}
.search-wrapper{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  width: 25%;
  margin: auto;
}

.provider-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card{
  display:flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50%;
  margin: 2rem auto;
  border-radius: 10px;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
img{
  width:150px;
  padding: 1rem;
}
.provider-details{
  /*width:150px;*/
  padding:1rem;
}
.provider{
  display: flex;
}
.flex-container{
  display: flex;
  flex-direction: column;

}
